Template: @@NAME@@/add-microsoft-repo
Type: boolean
Default: true
Description: Add apt repository for Codetrellis?
 The installer would like to add the repository and signing
 key to update Codetrellis through apt.
